.navbar {
    background-color: $bgnavbar;
    .navbar-brand {
        span {
            color: $navlogo;
            font-size: 18px;
            padding-left: 4px;
        }
    }
    .navbar-nav {
        padding-right: 100px;
        .nav-item {
          
            
            .nav-link {
                color: $navlogo;
                font-weight: bold;
                padding-left: 20px;
                padding-right: 20px;
               
              
                &:hover {
                    background-color: $btnYellow;
                    border-radius: 5px;
                   
                }
            }
            &:active{}
        }
    }
    .search {
        .btn1 {
            background-color: $btnYellow; /* Green */
            border: none;
            color: $black;
            font-size: 16px;
            margin-right: 20px;
            border-radius: 4px;
               
            width: 115px;
            height: 44px;

            cursor: pointer;
            &:hover {
                background-color: $black;
                color: $whitebtn;
            }
        }

        .has-search .form-control {
            padding-left: 1.375rem;
            margin-top: 0px;
            width: 44px;
            height: 44px;
            &:focus{
                width: 250px;
            }
        }
        input[type=text]:focus {
            width: 250px;
            margin-left: 10px;
        }

        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            padding-left: 7px;
            display: block;
            width: 2.475rem;
            height: 2.375rem;
            line-height: 2.9rem;
            text-align: center;
            pointer-events: none;
            color: $black;
        }
    }
}
