.result-rapper {
    background-color: #f0f4f9;
    .container {
        background: url("/assets/images/map.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .result-seciton {
            // .result-image {
            //     margin-top: 30px;
            //     margin-bottom: 30px;
            // }
            .result-para {
              
                .result-number {
                    margin-right: 0px;
                  
                    color: $navlogo;
                    font-family: "Noto Sans Georgian", sans-serif;
                    font-size: 60px;
                    font-weight: bold;
                }
                .result-alph {
                    margin-top: -15px;
                    font-size: 16px;
                    
                    color: #00b2b2;
                    font-weight: bold;

                    font-family: "Noto Sans Georgian", sans-serif;
                    
                }
            }
        }
       
    }
}
